*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



.main_header header{
    display: flex;
    background-color: gray;
    min-height: 10em;
    border: solid 3px #0F7391;

}

.main_block{
    display: flex;
}
.main_central_blocks{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
}
.main_nav{
    line-height: 3em;
    width: 20%;
    background-color: #CCCCCC;
    min-height: 30em;
    padding-left: 3%;
    padding-top: 3%;
    border: solid 3px #0F7391;
}
.main_nav a{
    color: rgb(175, 61, 61);
    font-size: 3em;
    text-align: left;   
}
.block2{
    width: 25%;
    min-height: 40em;
    text-align: justify ;
    line-height: 1.5em;
    font-size: 1.1em;
    background-color: #CCCCCC;
    border: solid 3px #0F7391;
    
}
.block3{
    width: 75%;
    background-color: #fff;
    min-height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.block3 p{
    
    font-size: 2em;
    padding: 2%;
    word-wrap: break-word;
    text-align: justify;
    
}
.block4{
    align-self:baseline;
    background-color: rgb(132, 132, 151);
    min-height: 10em;
    width: 100%;
    border: solid 3px #0F7391;
}
.block4 p{
    text-align:justify;
    font-size: 1em;
    color: white;
    padding: 2%;
}
.main_footer footer{
    display: flex;
    min-height: 10em;
    background-color: rgb(134, 114, 114);
    flex-direction: row;
    border: solid 3px #0F7391;
}
.main_header h2{
    color: white;
    font-size: 2em;
    margin: 1em 0 1em 1em;
    max-width: 78%;
    
}
#header_sign{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    border: 5px solid black;
    
}
#footer_sign{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 15%;
    height: 10%;
    align-items: center;
    border: 5px solid black;
}
.main_footer h1{
    color: white;
    font-size: 3em;
    margin: auto;
    max-width: 78%;
}
.block3 li{
    font-size: 2em;
}
.block3_content{
    display: block;
    margin-left: 2em;
}
.block3_img{
    width: 80%;
    margin: 4em;
}
.map_img{
    display: block;
    margin: 4em;
    width: 804px;
    height:446px;
}
.block3_links{
    width: 100%;
    min-height: 40em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.block3_links a{
    
    font-size: 3em;
    color:white;
    text-decoration: none;
    background-color: red;
}